*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://th.bing.com/th/id/OIG2.QfgB0.P0rwnlBzDWhiW5?w=1024&h=1024&rs=1&pid=ImgDetMain);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    text-align: center;
}
img{
    height: 100%;
}
a{
    text-decoration: none;
}
header{
    background-image: url(/Multimedia/Galeria/01.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: 50% 30%;
    max-width:100%;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 30px;
}


header h1{
    color: rgb(163, 125, 0);
    text-shadow: 1px 1px black;
    font-size: 7vw;
    width: 100%;
    margin: 20px 0;
}
header p{
    color: rgb(156, 0, 73);
    margin: 10px;
}
header h2{
    color: rgb(163, 125, 0);
}
.fondo{
 position: absolute;   
 top: 0%;
 left: 0;
 width: 100%;
 z-index: -1;
}

.timer{
    display: flex;
    flex-direction: column;
    color: rgb(163, 125, 0);

}
.timer *{
    margin: 10px;
}

section{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.acomp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.acomp div{
    margin: 20px;
    flex-basis: 150px;
    font-size: 20px;
    color: rgb(163, 125, 0);
    text-shadow: 1px 0 black;
}
.ubicaciones{
    color: rgb(163, 125, 0);
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-shadow: 1px 0 black;
    align-items: center;

}

.icono span{
    color: white;
    font-size: 40px;
    text-shadow: 0 0 7px rgb(255, 0, 119);
}
.boton a{
    text-align: center;
    background-color: white;
    display: inline-block;
    border-radius: 20px;
    border: 2px solid rgb(163, 125, 0);
    color: black;
    text-shadow: none;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    margin: 20px;
}
.galeria{
    height: 90vh;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding: 5px;
    background-color: rgba(163, 125, 0, 0.219);
    overflow-y: hidden;
    margin: 20px 0;
}
.marco{
    height: 100%;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 4px 2px black;
}

.vestimenta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #00000050;
    border: 2px solid white;
    margin: 15px;
    border-radius: 20px 0;
    padding: 20px;
    color: #fff;
    font-size: 30px;
}
.vestimenta img{
    height: fit-content;
    width: 100%;
    margin: 20px 0;
}
footer{
    background-color: rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.asistencia form{
    display: flex;
    box-shadow: 2px 0 2px black;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.asistencia form input{
    height: 35px;
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: 2px 2px 4px black;
    border-radius: 20px;
    text-align: center;
}
.asistencia form input::placeholder{
    color: #ffffffa9;

}
